<%- include('parts/_header') %>
    <%- include('parts/_menu') %>



        <!-- USERPAGE SECTİON -->


        <div class="container profile">
            <div class="pp">
                <div class="pp-image">
                    <img src="https://images.pexels.com/photos/3772509/pexels-photo-3772509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="profile">
                    <h3>Dennis Olivia</h3>
                    <div class="follows">
                        <label class="follow" for=""><i class="fa-solid fa-user-plus"></i> Takip Et</label>
                        <label for=""><i class="fa-solid fa-user-minus"></i> Takibi Bırak</label>
                    </div>
                </div>
            </div>
        
            <div id="about" class="profile-about">
                <div class="about-desc">
                    <h4>Gümüş yıldızlardan bulutsu gökler diyarına.</h4>
                    <p>Kalemlerin ve başlanmış hikayelerin krallığına hoşgeldiniz</p>
                </div>
        
                <div class="proile-sub">
                    <div class="profile-icons">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PROFILE SECTİON END -->
        
        <div class="container blog-section">
            <h2>Blogladıklarım</h2>
            <div class="blogs">
                <div class="blog">
                    <img src="https://im.haberturk.com/l/2012/07/23/ver1343026992/761062/jpg/640x360" alt="">
                    <h4>Denizden Gelenler</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat fugit totam sed recusandae eos nulla, obcaecati hic ea eveniet dolorem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores asperiores rerum animi quod possimus enim iste delectus est, dolorum atque. Nemo sapiente sequi mollitia consequatur fugiat vero esse, magni</p>
                    <span class="delete-blog"><i class="fa-solid fa-trash-can"></i></span>
                </div>
                <div class="blog">
                    <img src="https://www.dogadergisi.com/wp-content/uploads/2019/03/cinar-agaci-platanus-orientalis.jpg" alt="">
                    <h4>Denizden Gelenler</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat fugit totam sed recusandae eos nulla, obcaecati hic ea eveniet dolorem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores asperiores rerum animi quod possimus enim iste delectus est, dolorum atque. Nemo sapiente sequi mollitia consequatur fugiat vero esse, magni</p>
                    <span class="delete-blog"><i class="fa-solid fa-trash-can"></i></span>
                </div>
                <div class="blog">
                    <img src="https://cdnpub.egitim.com/public/uploads/content/350c5da1c5e1439808397f498ea70ac2eba0388a.webp" alt="">
                    <h4>Denizden Gelenler</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat fugit totam sed recusandae eos nulla, obcaecati hic ea eveniet dolorem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores asperiores rerum animi quod possimus enim iste delectus est, dolorum atque. Nemo sapiente sequi mollitia consequatur fugiat vero esse, magni</p>
                    <span class="delete-blog"><i class="fa-solid fa-trash-can"></i></span>
                </div>
            </div>
        </div>
        
        <div class="container followers">
            <h4>Takipçilerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
                <!-- Diğer kullanıcılar buraya gelecek -->
            </div>
        </div>
        
        <div class="container followers">
            <h4>Takip Ettiklerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
                <!-- Diğer kullanıcılar buraya gelecek -->
            </div>
        </div>
        </div>
        

        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>

        <%- include('parts/_footer') %>


            <!-- FOLLOWS BTN -->

            <!--                 <div class="follows">
                    <label class="follow" for=""><i class="fa-solid fa-user-plus"></i> Takip Et</label>
                    <label for=""><i class="fa-solid fa-user-minus"></i> Takibi Bırak</label>
                </div> -->