<%- include('parts/_header') %>
    <%- include('parts/_menu') %>



        <!-- PROFİLE SECTİON -->

        <div class="container profile">

            <div class="pp">
                <div class="pp-image">
                    <img src="https://images.pexels.com/photos/3772509/pexels-photo-3772509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="profile">
                    <h3>Dennis Olivia</h3>
                    <span id="create-blog"><i id="modalBlogBtn" class="fa-solid fa-circle-plus"></i> Blogla</span>
                </div>

                <div class="file-btn">
                    <i id="fileSelectButton" class="fa-solid fa-circle-plus"></i>
                    <input type="file" id="fileInput" style="display: none;">
                </div>



            </div>
            <div id="about" class="profile-about">
                <div class="about-desc">
                    <h4>Gümüş yıldızlardan bulutsu gökler diyarına.</h4>
                    <p>Kalemlerin ve başlanammış hikayelerin krallığına hoşgeldiniz</p>
                </div>

                <div class="proile-sub">
                    <div class="profile-icons">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <i id="last-edit" class="fa-regular fa-pen-to-square"></i>

                    </div>
                </div>
            </div>


            <!-- BLOG MODAL KISMI -->


            <div id="modal2" class="modal2">
                <div class="modal-content2">
                    <form>
                        <input type="text" name="blog-title" placeholder="Blog başlığı girin">

                        <textarea name="blog-text" id="blog-text" placeholder="Yazmaya başlayın"></textarea>
                        <div class="form-btn">
                            <label id="yükle" for="dosyaYukleme">

                                <img style="width: 30px;" src="https://w7.pngwing.com/pngs/527/625/png-transparent-scalable-graphics-computer-icons-upload-uploading-cdr-angle-text.png" alt="">
                                Dosya Seç
                            </label>
                            <input type="file" id="dosyaYukleme" style="display: none;">
                            <button type="submit" id="closeBlogModalBtn" class="close-Blogbutton">Kaydet</button>
                        </div>

                    </form>
                </div>
            </div>


        </div>
        <!-- PROİLE SECTİON END -->
        <!-- ABOUT MODAL KISMI -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <form>
                    <input type="text" name="about-title" placeholder="Kendinizi tanıtan bir başlık girin">

                    <textarea name="about-text" id="about-text" placeholder="Kendiniz hakkında bir açıklama girin"></textarea>
                    <button type="submit" id="closeModalBtn" class="close-button">Kaydet</button>
                </form>
            </div>
        </div>

        <div class="container blog-section">
            <h2>Blogladıklarım</h2>

            <div class="blogs">


                <div class="blog">

                    <div class="d-block">
                        <img src="https://im.haberturk.com/l/2012/07/23/ver1343026992/761062/jpg/640x360" alt="">
                        <h4>
                            Denizden Gelenler
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>

                        <div id="modal-blog" class="blog-text modal3" style="display: none;">
                            <div class="modal-content3">
                                <h4>
                                    Denizden Gelenler
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ut voluptates ab, possimus deleniti atque doloremque totam quibusdam at, nam animi unde saepe veniam ipsa minima sed. Dicta earum quisquam qui excepturi ratione ab, nam nulla optio expedita impedit voluptatem suscipit repellat saepe laborum reprehenderit hic. Nisi nihil obcaecati nemo necessitatibus laudantium aliquid officiis blanditiis adipisci quisquam atque. Quia quae laboriosam officiis consectetur explicabo veniam dolorum nihil, ab repellendus provident asperiores distinctio iure, perspiciatis porro, a libero! Ducimus officiis voluptates omnis doloribus qui nostrum rem enim similique, delectus necessitatibus quidem iste, possimus voluptatibus eveniet voluptate atque cumque natus adipisci unde illo asperiores error. Sed pariatur corrupti, at iure ea praesentium magnam nostrum deserunt eos possimus quas adipisci iusto quis temporibus dolores quaerat recusandae reiciendis repellendus nihil cumque? Inventore, consequatur ex, alias maiores repudiandae, similique laboriosam maxime quasi veniam dolore necessitatibus esse possimus vitae. Suscipit exercitationem voluptates quidem praesentium quasi? Facilis iste, omnis consequuntur aliquid obcaecati quas, vitae quia consectetur iusto nesciunt placeat odio. Adipisci, aut corrupti accusantium excepturi cumque, distinctio cupiditate suscipit fugit ipsa impedit reiciendis molestiae sint odit sequi aspernatur maiores quidem. Minima doloremque eaque aliquid fuga adipisci eveniet maiores earum labore. Exercitationem ab at eum ad officiis, perferendis laudantium architecto dolores maxime velit libero laborum, nisi expedita! Aperiam aut reiciendis sunt voluptate saepe, deleniti culpa corporis cum necessitatibus nesciunt unde sit similique ut, consequuntur sed animi consequatur facilis voluptas libero rem veritatis at numquam earum repudiandae? Atque repudiandae qui aperiam veritatis laborum id quam, eius iusto laudantium eligendi inventore? In architecto nesciunt eius amet? Voluptas quod, corporis laboriosam aliquam facilis ipsum! Illo, possimus dolores fugit nulla magni exercitationem facere maxime earum delectus corrupti sed vero dolor placeat id ipsum, voluptatum voluptate expedita odio laborum perferendis laboriosam non. Saepe commodi laboriosam a blanditiis officia assumenda. Consectetur vel dolorem inventore incidunt architecto rerum asperiores a. Veritatis earum facilis molestias excepturi eaque, nihil a saepe perferendis doloremque, quod porro veniam alias quia nobis nesciunt iste ratione, qui mollitia voluptas. Harum vel, magni, et, cupiditate facilis suscipit minima exercitationem fugit vero illum culpa pariatur similique. Quam, quod nemo illum tenetur error facilis voluptas, atque aut voluptatum harum labore nihil veniam aliquid. Natus, quaerat repudiandae odit dolorum reiciendis culpa aspernatur delectus non magnam, mollitia amet quidem fugiat, nesciunt id debitis ea sapiente cupiditate soluta! Architecto alias molestiae harum temporibus aut aspernatur incidunt illum doloremque impedit, a, animi ipsa labore laboriosam dolor, totam enim!
                                </p>
                                <span id="closeeBlogBtn">
                                    <img src="https://icon-library.com/images/close-icon-png/close-icon-png-9.jpg" alt="" style="width: 30px; height: 30px; background-color: white; color: white; padding:3px; border-radius: 50%;">
                                </span>
                            </div>


                        </div>
                        <button id="openBlogBtn">Devamını Oku</button>
                    </div>
                </div>
                <div class="blog">

                    <div class="d-block">
                        <img src="https://im.haberturk.com/l/2012/07/23/ver1343026992/761062/jpg/640x360" alt="">
                        <h4>
                            Denizden Gelenler
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>

                        <div id="modal-blog" class="blog-text modal3" style="display: none;">
                            <div class="modal-content3">
                                <h4>
                                    Denizden Gelenler
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ut voluptates ab, possimus deleniti atque doloremque totam quibusdam at, nam animi unde saepe veniam ipsa minima sed. Dicta earum quisquam qui excepturi ratione ab, nam nulla optio expedita impedit voluptatem suscipit repellat saepe laborum reprehenderit hic. Nisi nihil obcaecati nemo necessitatibus laudantium aliquid officiis blanditiis adipisci quisquam atque. Quia quae laboriosam officiis consectetur explicabo veniam dolorum nihil, ab repellendus provident asperiores distinctio iure, perspiciatis porro, a libero! Ducimus officiis voluptates omnis doloribus qui nostrum rem enim similique, delectus necessitatibus quidem iste, possimus voluptatibus eveniet voluptate atque cumque natus adipisci unde illo asperiores error. Sed pariatur corrupti, at iure ea praesentium magnam nostrum deserunt eos possimus quas adipisci iusto quis temporibus dolores quaerat recusandae reiciendis repellendus nihil cumque? Inventore, consequatur ex, alias maiores repudiandae, similique laboriosam maxime quasi veniam dolore necessitatibus esse possimus vitae. Suscipit exercitationem voluptates quidem praesentium quasi? Facilis iste, omnis consequuntur aliquid obcaecati quas, vitae quia consectetur iusto nesciunt placeat odio. Adipisci, aut corrupti accusantium excepturi cumque, distinctio cupiditate suscipit fugit ipsa impedit reiciendis molestiae sint odit sequi aspernatur maiores quidem. Minima doloremque eaque aliquid fuga adipisci eveniet maiores earum labore. Exercitationem ab at eum ad officiis, perferendis laudantium architecto dolores maxime velit libero laborum, nisi expedita! Aperiam aut reiciendis sunt voluptate saepe, deleniti culpa corporis cum necessitatibus nesciunt unde sit similique ut, consequuntur sed animi consequatur facilis voluptas libero rem veritatis at numquam earum repudiandae? Atque repudiandae qui aperiam veritatis laborum id quam, eius iusto laudantium eligendi inventore? In architecto nesciunt eius amet? Voluptas quod, corporis laboriosam aliquam facilis ipsum! Illo, possimus dolores fugit nulla magni exercitationem facere maxime earum delectus corrupti sed vero dolor placeat id ipsum, voluptatum voluptate expedita odio laborum perferendis laboriosam non. Saepe commodi laboriosam a blanditiis officia assumenda. Consectetur vel dolorem inventore incidunt architecto rerum asperiores a. Veritatis earum facilis molestias excepturi eaque, nihil a saepe perferendis doloremque, quod porro veniam alias quia nobis nesciunt iste ratione, qui mollitia voluptas. Harum vel, magni, et, cupiditate facilis suscipit minima exercitationem fugit vero illum culpa pariatur similique. Quam, quod nemo illum tenetur error facilis voluptas, atque aut voluptatum harum labore nihil veniam aliquid. Natus, quaerat repudiandae odit dolorum reiciendis culpa aspernatur delectus non magnam, mollitia amet quidem fugiat, nesciunt id debitis ea sapiente cupiditate soluta! Architecto alias molestiae harum temporibus aut aspernatur incidunt illum doloremque impedit, a, animi ipsa labore laboriosam dolor, totam enim!
                                </p>
                                <span id="closeeBlogBtn">
                                    <img src="https://icon-library.com/images/close-icon-png/close-icon-png-9.jpg" alt="" style="width: 30px; height: 30px; background-color: white; color: white; padding:3px; border-radius: 50%;">
                                </span>
                            </div>


                        </div>
                        <button id="openBlogBtn">Devamını Oku</button>
                    </div>
                </div>
                <div class="blog">

                    <div class="d-block">
                        <img src="https://im.haberturk.com/l/2012/07/23/ver1343026992/761062/jpg/640x360" alt="">
                        <h4>
                            Denizden Gelenler
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>

                        <div id="modal-blog" class="blog-text modal3" style="display: none;">
                            <div class="modal-content3">
                                <h4>
                                    Denizden Gelenler
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ut voluptates ab, possimus deleniti atque doloremque totam quibusdam at, nam animi unde saepe veniam ipsa minima sed. Dicta earum quisquam qui excepturi ratione ab, nam nulla optio expedita impedit voluptatem suscipit repellat saepe laborum reprehenderit hic. Nisi nihil obcaecati nemo necessitatibus laudantium aliquid officiis blanditiis adipisci quisquam atque. Quia quae laboriosam officiis consectetur explicabo veniam dolorum nihil, ab repellendus provident asperiores distinctio iure, perspiciatis porro, a libero! Ducimus officiis voluptates omnis doloribus qui nostrum rem enim similique, delectus necessitatibus quidem iste, possimus voluptatibus eveniet voluptate atque cumque natus adipisci unde illo asperiores error. Sed pariatur corrupti, at iure ea praesentium magnam nostrum deserunt eos possimus quas adipisci iusto quis temporibus dolores quaerat recusandae reiciendis repellendus nihil cumque? Inventore, consequatur ex, alias maiores repudiandae, similique laboriosam maxime quasi veniam dolore necessitatibus esse possimus vitae. Suscipit exercitationem voluptates quidem praesentium quasi? Facilis iste, omnis consequuntur aliquid obcaecati quas, vitae quia consectetur iusto nesciunt placeat odio. Adipisci, aut corrupti accusantium excepturi cumque, distinctio cupiditate suscipit fugit ipsa impedit reiciendis molestiae sint odit sequi aspernatur maiores quidem. Minima doloremque eaque aliquid fuga adipisci eveniet maiores earum labore. Exercitationem ab at eum ad officiis, perferendis laudantium architecto dolores maxime velit libero laborum, nisi expedita! Aperiam aut reiciendis sunt voluptate saepe, deleniti culpa corporis cum necessitatibus nesciunt unde sit similique ut, consequuntur sed animi consequatur facilis voluptas libero rem veritatis at numquam earum repudiandae? Atque repudiandae qui aperiam veritatis laborum id quam, eius iusto laudantium eligendi inventore? In architecto nesciunt eius amet? Voluptas quod, corporis laboriosam aliquam facilis ipsum! Illo, possimus dolores fugit nulla magni exercitationem facere maxime earum delectus corrupti sed vero dolor placeat id ipsum, voluptatum voluptate expedita odio laborum perferendis laboriosam non. Saepe commodi laboriosam a blanditiis officia assumenda. Consectetur vel dolorem inventore incidunt architecto rerum asperiores a. Veritatis earum facilis molestias excepturi eaque, nihil a saepe perferendis doloremque, quod porro veniam alias quia nobis nesciunt iste ratione, qui mollitia voluptas. Harum vel, magni, et, cupiditate facilis suscipit minima exercitationem fugit vero illum culpa pariatur similique. Quam, quod nemo illum tenetur error facilis voluptas, atque aut voluptatum harum labore nihil veniam aliquid. Natus, quaerat repudiandae odit dolorum reiciendis culpa aspernatur delectus non magnam, mollitia amet quidem fugiat, nesciunt id debitis ea sapiente cupiditate soluta! Architecto alias molestiae harum temporibus aut aspernatur incidunt illum doloremque impedit, a, animi ipsa labore laboriosam dolor, totam enim!
                                </p>
                                <span id="closeeBlogBtn">
                                    <img src="https://icon-library.com/images/close-icon-png/close-icon-png-9.jpg" alt="" style="width: 30px; height: 30px; background-color: white; color: white; padding:3px; border-radius: 50%;">
                                </span>
                            </div>


                        </div>
                        <button id="openBlogBtn">Devamını Oku</button>
                    </div>
                </div>
                
            </div>


        </div>
        </div>

        <div class="container followers">
            <h4>Takipçilerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container followers">
            <h4>Takip Ettiklerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>

        <%- include('parts/_footer') %>


            <!-- FOLLOWS BTN -->

            <!--                 <div class="follows">
                    <label class="follow" for=""><i class="fa-solid fa-user-plus"></i> Takip Et</label>
                    <label for=""><i class="fa-solid fa-user-minus"></i> Takibi Bırak</label>
                </div> -->