<%- include('parts/_header') %>
    <%- include('parts/_menu') %>

        <!-- HEADER -->

        <head>
            <div class="container">
                <div class="slider-container">
                    <div class="slider-content">
                        <div class="slide">

                            <div class="slide-image">

                                <img src="https://i.ytimg.com/vi/SXbEN5lWRt8/maxresdefault.jpg" alt="">


                            </div>
                            <div class="line"></div>
                            <div class="slide-image">
                                <img src="https://birhost.net/wp-content/uploads/2021/12/en-iyi-blog-siteleri-1.webp" alt="">
                            </div>
                        </div>

                        <div class="slide">

                            <div class="slide-image">

                                <img src="https://www.abprojeyonetimi.com/wp-content/uploads/2017/06/Oli-Blog-2.jpg" alt="">


                            </div>
                            <div class="line"></div>
                            <div class="slide-image">
                                <img src="https://blog.ozkula.com.tr/wp-content/uploads/2023/06/blog-olusturma-nedir.jpg" alt="">
                            </div>
                        </div>

                        <div class="slide">

                            <div class="slide-image">

                                <img src="https://i.ytimg.com/vi/SXbEN5lWRt8/maxresdefault.jpg" alt="">


                            </div>
                            <div class="line"></div>
                            <div class="slide-image">
                                <img src="https://birhost.net/wp-content/uploads/2021/12/en-iyi-blog-siteleri-1.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="prevbtn" onclick="prevSlide()"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="nextbtn" onclick="nextSlide()"><i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>

        </head>

        <div class="container headertxt">

            <div class="text-title">
                <img src="https://revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic-1030x584.png" alt="">
                <div class="txt">
                    <h2>Amacımız nedir ?</h2>
                    <h4>Düşüncelerinizi, fikirlerinizi, hayal dünyanızı ve diğer tüm herşeyi paylaşacağınız güvenilir bir ortam oluşturmak.</h4>
                </div>

            </div>

            <div class="text-title">
                <img src="https://www.channelstv.com/wp-content/uploads/2023/03/BLOG.jpg" alt="">
                <div class="txt">
                    <h2>Yazmaya başla ve paylaş</h2>
                    <h4>senin ve bloglayan herkesin yazdıkları burada. Hadi başlayalım. Okumak için çok zaman var</h4>
                </div>

            </div>


        </div>
        <div class="container followers" style="margin-top: 1rem;">
            <h4>En iyi Bloglayanlar<span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>
        <%- include('parts/_footer') %>