    <!-- FOOTER -->

    <footer>

        <div class="container footer-section">
            <div class="footer-box">
                <div class="footer-title">
                    <h2>Design by CninnMakes</h2>
                    <p class="contactme">Contact me : cninnworks@gmail.com</p>
                </div>

                <div class="skills">
                    <h4>This is a test page for my skills. The technology and languages I use.</h4>
                
                    <div class="icons">

                        <span><i class="fa-brands fa-html5"></i>HTML5</span>
                        <span><i class="fa-brands fa-css3"></i>CSS3</span>
                        <span><i class="fa-brands fa-square-js"></i>JAVASCRIPT</span>
                       <span><i class="fa-brands fa-node"></i>NODEJs</span>
                       <span> <i class="fa-brands fa-node-js"></i>EXPRESSJS</span>
                       <span> <i class="fa-solid fa-database"></i>MongoDB</span>
                    </div>
                </div>
                <div  margin-right: 3rem;"  class="card">
                    <span class="title">İletişim</span>
                    <form class="form">
                      <div class="group">
                      <input placeholder="‎" type="text" required="">
                      <label for="name">Ad</label>
                      </div>
                  <div class="group">
                      <input placeholder="‎" type="email" id="email" name="email" required="">
                      <label for="email">Email</label>
                      </div>
                  <div class="group">
                      <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
                      <label for="comment">Mesaj</label>
                  </div>
                      <button type="submit">Gönder</button>
                    </form>
                  </div>
                  <span id="openMailUI"><i class="fa-solid fa-envelope-open-text"></i></span>
            </div>
            </div>
      

    </footer>





    <script src="/app.js"></script>
</body>

</html>