    <!-- FOOTER -->

    <footer>

        <div class="container footer-section">
            <div class="footer-box">
                <div class="footer-title">
                    <h2>Design by CninnMakes</h2>
                    <p class="contactme">Contact me : cninnworks@gmail.com</p>
                </div>

                <div class="skills">
                    <h4>This is a test page for my skills. The technology and languages I use.</h4>
                
                    <div class="icons">

                        <span><i class="fa-brands fa-html5"></i>HTML5</span>
                        <span><i class="fa-brands fa-css3"></i>CSS3</span>
                        <span><i class="fa-brands fa-square-js"></i>JAVASCRIPT</span>
                       <span><i class="fa-brands fa-node"></i>NODEJs</span>
                       <span> <i class="fa-brands fa-node-js"></i>EXPRESSJS</span>
                       <span> <i class="fa-solid fa-database"></i>MongoDB</span>
                    </div>
                </div>
                <div  margin-right: 3rem;"  class="card">
                    <span class="title">İletişim</span>
                    <form id="mailform" class="form">
                      <div class="group">
                      <input placeholder="‎" type="text" required="">
                      <label for="name">Ad</label>
                      </div>
                  <div class="group">
                      <input placeholder="‎" type="email" id="email" name="email" required="">
                      <label for="email">Email</label>
                      </div>
                  <div class="group">
                      <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
                      <label for="comment">Mesaj</label>
                  </div>
                      <button type="submit">Gönder</button>
                    </form>
                  </div>
                  <span id="openMailUI"><i class="fa-solid fa-envelope-open-text"></i></span>
            </div>
            </div>
      

    </footer>




<script>

    //toggle effect for navbar menu
document.addEventListener("DOMContentLoaded", () => {
  const toggleBtn = document.getElementById("togglebtn");
  const menu = document.getElementById("menu");

  toggleBtn.addEventListener("click", () => {
    if (menu.style.display === "flex") {
      menu.style.display = "none";
    } else {
      menu.style.display = "flex";
    }
  });
});


//TODO : SCROLL UP
// Yukarı ok düğmesini bul
// Sayfanın en altına indiğinde butonu görünür yap
window.onscroll = function () {
  var scrollY = window.pageYOffset;
  if (scrollY + window.innerHeight >= document.body.scrollHeight) {
    document.getElementById("myButton").style.display = "block";
  } else {
    document.getElementById("myButton").style.display = "none";
  }
};



// Butona tıklandığında sayfayı yavaşça en üste kaydır
document.getElementById("myButton").onclick = function () {
  window.scrollTo({ top: 0, behavior: "smooth" });
};


//!OVERLAY
document.addEventListener("DOMContentLoaded", function () {
  const overlay = document.getElementById("overlay");
  overlay.style.display = "block";

  setTimeout(function () {
    overlay.style.display = "none";
  }, 1000);
});






/// devamını oku
const openBlogBtn = document.querySelectorAll("#openBlogBtn");
const modal3 = document.querySelectorAll("#modal-blog");
const closeeBlogBtn = document.querySelectorAll("#closeeBlogBtn");

for (let i = 0; i < openBlogBtn.length; i++) {
  openBlogBtn[i].addEventListener("click", () => {
    modal3[i].style.display = "flex";
  });

  closeeBlogBtn[i].addEventListener("click", () => {
    modal3[i].style.display = "none";
  });
}
//contacct form visible
const openMailbtn = document.getElementById('openMailUI');
const mailUI = document.querySelector('.card');

openMailbtn.addEventListener('click',()=>{
  mailUI.classList.toggle('toggle-mail');
})




    const mailform = document.getElementById('mailform');
    mailform.addEventListener('submit',()=>{
        mailform.submit();
    })
</script>

</body>

</html>