
 
  
    <!-- LOADER -->
    <div class="overlay" id="overlay">
        <img class="content" src="./images/loader.gif" alt="loader">
    </div>
    <!-- NAVBAR -->
    <nav>
        <div class="container">
            <div class="navbar">
                <div class="nav-title">
                    <i class="fa-solid fa-burst" style="color:cornsilk"></i>
                    <h1>Blogla</h1>
                </div>
                <div class="nav-links">
                    <ul id="menu">
                        <li><a class="<%= link === 'index' && 'active' %>" href="/">Anasayfa</a></li>
                        <li><a class="<%= link === 'blogs' && 'active' %>" href="/blogs">Keşfet</a></li>
                        <li><a class="<%= link === 'dashboard' && 'active' %>" href="/dashboard">Sana ait</a></li>
                        <li><a href="./register.html">Kayıt Ol</a></li>
                        <li><a href="./login.html">Giriş Yap</a></li>
                        <li><a href="">Çıkış</a></li>

                    </ul>
                    <form action="">
                        <input type="search" name="search" id="search" placeholder="ara">
                        <label class="toggle" for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                    </form>
                    <div class="toggle-bar">
                        <i id="togglebtn" class="fa-solid fa-bars toggle"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->